*{
    padding: 5px;
    margin: 5px;
    font-family: Arial;
}
body{
    padding: 70px;
}
#tsk{
    padding: 5px 10px;

}
h1{
    margin-top: 0px;
		padding: 0px;
		font-family: Arial;
}
#add{
    padding: 5px 10px;
		background-color: #337ab7;
}
.header{
    width: 100%;
    margin: 50px;
}
.tsk{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.delete{
    padding: 5px;
}
.deletetask{
	background-color: red;

}
